{% extends "base.html" %}
{% block title %}Додавання нової позиції{% endblock %}
{% block content %}
    {% include '_navigation.html' %}
<h2>Додавання нової позиції</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">

        <input type="text" name="name" placeholder="Назва позиції" required>

        <input type="file" name="img" accept="image/*" required>

        <textarea name="ingredients" placeholder="Інгредієнти" required></textarea>

        <textarea name="description" placeholder="Опис" required></textarea>

        <input type="number" name="price" placeholder="Ціна (грн)" required>

        <input type="number" name="weight" placeholder="Вага (г)" required>

        <button type="submit">Додати товар</button>
    </form>
{% endblock %}
