{% extends "base.html" %}
{% block title %}Головне меню{% endblock %}
{% block content %}
    {% include '_navigation.html' %}
    <h2>Наше меню</h2>
    {% for position in all_positions %}
        <div>
            <img src="{{ url_for('static', filename='menu/' + position.file_name) }}" alt="{{ position.name }}" width="200">
            <h3>{{ position.name }}</h3>
            <p>{{ position.ingredients }}</p>
            <button><a href="{{ url_for('position', name=position.name) }}">Оглянути детальніше</a></button>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
