{% extends "base.html" %}
{% block title %}Деталі замовлення{% endblock %}
{% block content %}
    {% include '_navigation.html' %}
    <h2>Ваше замовлення №{{ order.id }}</h2>
    <p>Перелік позицій:</p>
    <ul>
        {% for id, data in order.order_list.items() %}
            <li>{{ data['name'] }} — кількість: {{ data['count'] }}</li>
        {% endfor %}
    </ul>
    <p><strong>Дата та час:</strong> {{ order.order_time.strftime('%Y-%m-%d %H:%M') }}</p>
    <p><strong>Загальна сума:</strong> {{ total_price }} грн</p>

    {% if order.is_cancelled() %}
        <p>Статус: Скасовано</p>
    {% else %}
        <form method="post" action="/cancel_order/{{ order.id }}">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <button type="submit">Скасувати замовлення</button>
        </form>
    {% endif %}
{% endblock %}
